.App {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Genos', sans-serif;
    font-size: 24px;
    color: white;
    /* border: 1px solid red; */
}

.App::-webkit-scrollbar {
    display: none;
}

/* HEADING */
.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0;
    width: 550px;
    height: 80px;
    font-size: 32px;
    text-align: center;
    /* border: 1px solid red; */
}

/* OPTIONS */
.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
    width: 550px;
    /* border: 1px solid red; */
}

.number {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 100%;
    /* border: 1px solid black; */
}

.number p {
    text-align: center;
}

.number-count {
    display: flex;
    width: 2rem;
    justify-content: flex-end;
    /* border: 1px solid white; */
}

.toggle-button-on {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    background-color: rgba(51, 177, 51, 0.551);
    /* border: 2px solid red; */
}

.toggle-button-on:hover {
    cursor: pointer;
}

.toggle-button-off {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    /* border: 2px solid red; */
}

.toggle-button-off:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.3);
}

.SmallLetters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

.CapitalLetters {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

.Numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

.SpecialChars {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* border: 1px solid black; */
}

/* PASSWORD */
.password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 160px;
    width: 650px
        /* border: 1px solid red; */
}

.generate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-color: rgba(26, 74, 156, 0.4);
    /* border: 1px solid black; */
}

.generate:hover {
    cursor: pointer;
    background-color: rgba(26, 74, 156, 0.7);
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.generate:active {
    background-color: rgba(156, 26, 55, 0.7);
}

.result {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: #9996968b;
    /* border: 1px solid black; */
}

.result p {
    width: 80;
    height: 70px;
    word-wrap: break-word;
    overflow: auto;
    color: black;
    font-weight: 700;
    /* border: 1px solid black; */
}

.result p::-webkit-scrollbar {
    display: none;
}

.result input {
    margin-left: 10px;
    width: 20%;
    height: 60px;
    font-family: 'Genos', sans-serif;
    font-size: 24px;
    border-radius: 20px;
    color: #583939;
    background-color: #79d250a9;
}

.result input:hover {
    color: #322020;
    background-color: #79d250;
}

.result input:active {
    color: #583939;
    background-color: #4e8634;
}

@media screen and (max-width: 650px) {
    .App {
        margin: 0;
        padding: 0;
        font-size: 18px;
        overflow: auto;
    }

    .heading {
        font-size: 28px;
    }

    .heading,
    .options,
    .generate,
    .password {
        width: 80%;
    }

    .SmallLetters,
    .CapitalLetters,
    .Numbers,
    .SpecialChars,
    .toggle-button-off,
    .toggle-button-on {
        height: 50px;
    }

    .result input {
        height: 45px;
        font-size: 18px;
    }
}